@import "mixins";

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
  .card{
      border: 0;
      margin-bottom: 1.5rem;
  }

  a.card{
      @include transition(all, 0.2s, ease-out);
      color: inherit;

      img{
          opacity: 1;
      }

      // transition: all 0.2s ease-out;

      &:hover{
          text-decoration: none;
          color: #FFF;
          background: var(--primary);
          // opacity: 0.5;

          img{
              opacity: 0.5;
          }
      }
  }
  // column-count: 6;
}
.container--home{
    padding: 2rem;
}
